{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-lg-6" >
                {{ request.GET.document }}
                <form id="detail_form" method="post" enctype="multipart/form-data" class=""
                      {% if form.instance.id %}
                        action="{{ form.instance.get_absolute_url }}"
                      {% endif %}>
                    {% csrf_token %}
                    {{ form.as_p}}
                    <p><button name="submit" type="submit">Сохранить</button></p>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'base_app/js/django_form.js' %}"></script>
    <script>
        bootstrap_form('#detail_form')
    </script>
{% endblock %}